!!!
%html{:lang => :zh}
  %head
    %title ChatFlow
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %link{:rel => 'stylesheet', :href => 'dist/css/ui.css'}

  %body
    .panel.chatbox

    %script{:type => 'text/javascript', :src => 'lib/js-yaml.js'}
    %script{:type => 'text/javascript', :src => 'lib/jquery-2.1.1.min.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/plugins/jquery.typing-string.js'}


    %script{:type => 'text/javascript', :src => 'dist/js/game/utils.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/game/game.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/game/npc.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/game/script_runner.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/game/chatbox.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/game/chat_sentence.js'}

    %script{:type => 'text/javascript', :src => 'dist/js/game/chatpop.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/game/questionpop.js'}

    %script{:type => 'text/javascript', :src => 'dist/js/ui.js'}